#header ul {

    width:196px;

}



#about #animal, #tim #animal {

    float:left;

    width:100px;

    height:67px;

    margin:0;

    padding:0;

    background:url(/images/oreilly/about_polar_bear.jpg) no-repeat 0 0;

    font-size:0;

    text-indent:-9999px;

}



#about h2 {
    display:block;
    font-size:20px;
    line-height:26px;
    margin:0;
    padding:0;
    color:#000;
}

#topic {
    display:block;
    font-size:20px;
    line-height:26px;
    margin:0;
    padding:0;
    color:#000;
    text-align:left;
}

p.tagline {
    clear: left;
    color:#333333;
    font-family:Verdana,helvetica,arial,sans-serif;
    font-size:14px;
    margin: 0 0 8px 0;
    padding: 0;
    text-align:left;
}



a.nav3, a.nav3:visited, a.nav3:hover, a.navtab,a.navtab:visited,a.navtab:hover {

    color: white;

    text-decoration:none;

}



.clear, hr.clear {

    height:0 !important;

}



/* #content ul { 

    margin:0 0 0 1em;

    padding:0 0 0 1em;

   list-style-image: url('/images/icons/arrow.gif');

    line-height:1.5em;

}

#content li {

    padding:0;

    margin: 0;

}

*/

#contentmiddle {
    width:50em;
    float:left;
}


#contentright {
    width:16em;
    float:right;
    margin:0 0 0 1em;
}

#contentright ol, #contentright ul, #sidebar ul {
    color:#666666;
    margin:0;
    padding:0;
    overflow:hidden;
}
#contentright li, #sidebar li {
    margin:0 0 1em 2em;
    padding:0;
}

#article ul {

    list-style-image:none; 

}



#article .headline {

    font-size: 12px;

    font-weight:bold;

}

    

ul.sellingpoints {

    color:#666;

    font-weight:bold;

    line-height:1.7em;

    list-style-position: inside;

}

.feedback ul {
        margin: 0 0 0 1em;
        padding: 0 0 0 1em;
}
.feedback li {
        list-style-image: url(http://www.oreillynet.com/images/bullet-post.gif);
        margin-left: 0px;
        padding:0;
}
.feedback ul ul li {
        list-style-image: url(http://www.oreillynet.com/images/bullet-reply.gif);
        margin-left: 0px;
        padding:0;
}

.quote {
    line-height:22px;
    color:#888;
    font-size:120%;
}

.quote_author {
    line-height:16px;
    color:#990000;
    font-weight:normal;
}

.authorbio {
    padding-top:0;
    margin:0;
}

.authorbio, .authorbio p {
    color:#333;
    line-height:2em;
}

#features {
    float:left;
    margin:0;
    padding:0 2em 0 0;
    width:48em;
}

#upsell {
    float:right;
    margin:0;
    padding:0;
    width:17em;
}

#breadcrumb {
   padding:8px 0 0 30px;
   margin:0;
}

#twitter_update_list {
    margin: 0 0 0 1.2em;
    padding: 3px 0 10px 0;
    line-height:1.2em;
}

/* middle and right content used for ug pages */

#middle_content {

    width:46em; 

    float:left;

}



#middle_content h3 {

    color:#333;

    font-size:16px;

    font-weight:normal;

    line-height:1.2em;

} 



#right_content {

    width:18em;

    float:right;

    margin-left:1em;

}



.article-heading {

    clear:left;

    font-size:13px;

    font-weight:bold;

}



#article {

    width:50em;

    float:left;

}



#adspace {

    width:16em;

    float:right;

    margin-left:1em;

} 

#tabs {
    text-transform:uppercase;
    text-decoration:none;
    font-weight:bold;
}
#tabs ul {
    padding: 0 0 7px 0;
    margin:0;
    background-image: url(/images/icons/line_gray.gif);
    background-repeat:repeat-x;
    background-position: bottom center;
}
#tabs ul li {
    display:inline;
    list-style:none;
    padding:0;
    margin:0;
}
#tabs ul li a {
    color:#999;
    font-size:92%;
    font-weight:bold;
    text-decoration:none;
    margin:0;
    padding:0 10px 1px 10px;
}
#tabs ul li a.current {
    color:#990000;
    background-image: url(/images/icons/line_arrow.gif);
    background-position: bottom center;
    background-repeat:no-repeat;
    padding-bottom:7px;
}

#tabs ul li a:hover {
    color:#990000;
}

body {

    background-color:#eee;

}



/*added  for article formatting of email newsletters --cp 04/21/06*/

div.newsletter{

    white-space: pre;

} 

.intelliTxt h2 {

    color:#000;

    display:block;

    font-size:24px;

}

