/* body, general settings
------------------------- */

body {
    padding:0;
    margin:0 10px;
    font-family:Verdana,sans-serif;
    font-size:11px;
    color:#222;
}

div {
    margin:0;
    padding:0;
}

div.catalogie {
    width: 64%;
}

img {
    border:0;
}

pre, code {
    font-family:'andale mono','lucida console',monaco,monospace;
    color:#036;
}

pre {
    clear: both;
    overflow: auto;
    /*width:100% !important;*/
    width: 600px; /*for IE, which doesn't obey !important or width:100% on pre */
    padding-bottom: 0 !important;
    padding-bottom: 1.5em; /* for IE which doesn't make room at the bottom of the pre for a horizontal scrollbar */
}

.pre-wrap {
white-space: pre-wrap;
}

#account #errata .pre-wrap {
width: 253px;
display: block;
overflow: hidden;
}

#lte-ie7 .pre-wrap {
white-space: pre;
display: block;
clear: both;
width: 344px;
overflow-x: auto;
overflow-y: hidden;
height: auto;
padding: 10px 0 20px;
}

a, a:visited {
    text-decoration:none;
}

a {
    color:#00f;
}

a:visited {
    color:#551a8b;
}

a:hover {
    text-decoration:underline;
}

img[align=left] {
    margin-right:0.5em;
}

img[align=right] {
    margin-left:0.5em;
}

hr {
    border:none;
    color: #ccc;
    background-color: #ccc;
    height: 1px;
    width:100%;
    clear:both;
}

hr.divider {
    color:#333;
    background-color:#999;
}

#page {
    width:990px;
    margin:0 auto 1em;
    background-color:#fff;
}



fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

/* navigation
--------------------- */
div#netnav {
    width:16em;
    float:left;
    padding:1em 0 0 1em;
    font-family: Verdana,sans-serif;
	font-size: 11px;
}

#netnav * {
    /* font-size:1em; */
    font-size:.99em;
}

#netnav h3 {
    font-weight:normal;
    margin:1em 0 0 0;
    padding: 4px 0;
    border-bottom:1px solid #666;
    text-transform:uppercase;
}

#netnav ul, #netnav li {
    margin:0;
    padding:0;
    list-style:none;
}

#netnav li {
    display:inline;
}

#netnav ul li a {
    text-decoration:none;
    display:block;
    margin:0;
    padding:4px 6px;
    color:#990000;
    border-bottom:1px solid #aaa;
}

#netnav ul ul li a {
    padding-left:18px;
    color:#666;
}

#netnav ul li a:hover {
    background-color:#F6F6F6;
}

#netnav a.selected {
   background-color:#ececec;
}

	
.clear {
display: block;
line-height: 0;
}


/* navigation - second level
---------------------------- */
#subnav {
    width:90em;
    background-color:#990000;
    padding:6px 0 6px 0;
    border-bottom:1px solid #990000;
    /*margin-top:expression(-2+"px"); causing problems in IE Win*/
}

#subnav ul li {
    float:left;
    display:inline-table;
}

#subnav ul li a {
    padding:0 1em;
    text-decoration:none;
    color:#fff;
    float:left;
}

#subnav ul li + li a {
    border-left:1px solid #fff;
}

#subnav ul li a:hover {
    text-decoration:underline;
}

#subnav .nav_selected a, #subnav .nav_selected a:hover {
    color:#cc9999;
} 

/* menu nav states */
.hideSwitch {
    display:none;
}

.showSwitch {
    display:block;
}

.rollup {
    padding-left:18px !important;
    background:#fff url(http://cdn.oreillystatic.com/oreilly/ml/images/bullet_menu.gif) no-repeat 6px;
}

.rolldown {
    padding-left:18px !important;
    background:#F6F6F6 url(http://cdn.oreillystatic.com/oreilly/ml/images/bullet_menu_open.gif) no-repeat 6px;
}

.showtopic {
    padding-left:25px !important;
}

/* content - main
----------------- */

#content {
	font-family: Verdana,sans-serif;
	font-size: 11px;
    width:68em;
    float:right;
    margin:0;
    padding:2em 2em 2em 0;
}

#contentShip {

    width:68em;
    float:right;
    margin:0;
    /* margin-bottom: 200pt; */
    margin-bottom: 100%;
    /* padding: 2em 0 0 1em; */
    padding: 2em 0 5em 1em;
}

#contentShip2 {

    width:65em;
    float:right;
    margin:0;
    /* margin-bottom: 200pt; */
     /* margin-bottom: 100%; */
    /* padding: 2em 0 0 1em; */
    padding: 2em 0 2em 3em;
}

/* Content-09 from chrome.css */

#content-09 {
padding: 10px;
clear: both;
float: left;
width: 970px;
} 
#upsell {
    width:18em;
    margin:0;
    padding:0;
    float:right;
} 
#fullcontent {
    margin:2em;
}
#fullcontent2 {
    width:79em;
    margin:2em;
}
#content h3 {
    font-weight:bold;
    color:#000;
    margin:0.5em 0 1em 0;
    font-size:14px;
}
#newsarchive h3 {
   padding:0;
   margin:1em 0 0.25em 0;
}
#newsarchive h3 a {
   color:#444444;
   text-decoration:none;
}
#newsarchive h3 a:hover {
   color:#990000;
   text-decoration:none;
}
#newsarchive h3 a:visited {
   color: #444444;
}
#newsarchive p.cbox a {
   line-height:28px;
   padding-right:8px;
}
#content-rc {
    width:68em;
    float:right;
    margin:0;
    padding:2em 2em 2em 0;
}
#content-rc h4 {
    margin:0 0 0em 0;
    padding:0;
    font-size:11px;
}
#content h4 {
    margin:0 0 0.5em 0;
    padding:0;
    font-size:12px;
}
#content h5 {
    margin:0 0 0 7px;
    padding:0;
    font-size:11px;
}
.aleft {
    float:left;
    margin:0 0.5em 0 0.3em;
}
.aright {
    float:right;
    margin:0.5em 0 0 0.5em;
}
.clear, hr.clear {
    font-size:0;
    clear:left;
    width:100%;
    height:0;
    margin:0;
    padding:0;
    background:transparent;
    border:none;
    color:#fff;
}

.more {
    text-align:left;
    padding-left: 11px;
    background-image: url(http://cdn.oreillystatic.com/oreilly/ml/images/arrow.gif);
    background-repeat: no-repeat;
    background-position: center left;
}

.price {
    color:#900;
}

.banner {
    padding:12px 0 0;
    text-align:center;
    background-color:#efefef;
}

.banner p, .banner a, .ad, .ad a {
    text-align: center;
    text-transform:uppercase;
    font-size:9px !important;
    color:#bbb;
    letter-spacing:0.1em;
    padding:0.2em 0;
    margin:0;
}

.sidebar-item {
    padding:0;
    margin:0 0 20px 0;
}

.sidebar-item-ak {
   padding:0;
   margin:0 0 0 20px;

}

.sidebar-item h3, #content .sidebar-item h3 {
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    line-height:2em;
    font-size:11px;
    color:#000;
    font-weight:bold;
    text-align:center;
    background-color:#eee;
    background:url(http://cdn.oreillystatic.com/oreilly/ml/images/box-item-header.gif) no-repeat 0 0;
    margin:0 !important;
}

.sidebar-item-content {
    border: 1px solid #999;
    margin:0;
    padding:10px;
    overflow: hidden;
}

.sidebar-item-content2 {
    margin:0;
    padding:10px;
}

#answers .sidebar-item {
margin:0px;
font: normal 13px arial,verdana,tahoma,sans-serif} 

#answers .sidebar-item h3 {
border-top: 0;
border-left: 0;
border-right: 0;
margin:0px;
text-align: left;
background: none;
line-height: normal;
} 

#answers .sidebar-item-content {
border: 0px;
margin:0px;
padding: 8px 0;
}


/* comments
------ */ 
.tb_left {
    width: 30%;
    height: 20px;
    float: left;
    margin-top:0.5em;
}
.tb_right {
    text-align: right;
    width: 60%;
    height: 20px;
    float: right;
    margin-top:0.5em;
}

/* ads
------ */
.box {
    padding:0.2em 0.5em;
    margin:1em 0 0.5em 0;
    border: 1px solid #999;
}

.boxright {
    padding:1em 2em 1em 2em;
    margin:.5em .5em .5em 2.5em;
    float:right;
    width:18em;
    border-left: 5px;
    border: 1px dashed #999;
}

.alerts {
    background-color:#F8D108;
}

.pick {
   padding:50px 1em 0.5em 1em;
   margin:0 0 20px 0;
   border: 1px solid #999;
   background-image: url(http://cdn.oreillystatic.com/oreilly/ml/images/staff_picks.gif); 
   background-repeat: no-repeat; 
   background-position: right top;
}

/* GOOGLE */
a.hl:link, a.hl:visited, a.hl:active, a.hl:hover {
    font-family: arial,sans-serif;
    font-size: 10px;
    color: #fff;
    text-decoration: underline;
}

.ch {
    cursor:pointer;
    background-color:#ffffff;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #FFFFFF;
    padding-top:0px;
    padding-left:4px;
    padding-right:3px;
    overflow:hidden;
}

  .listen {
    display: block;
    height: 1.8em;
    float: right;
    list-style: none;

    margin: .5em 0 0 10px;
    padding: 0 0 0 10px;

    font-size: .75em;

    line-height: 1.5em;
    text-align: right;
}



    .listen li {
    margin: 0;
    padding: 5px 0;
    display: inline;
    text-align: right;
}

    .listen a {
    display: block;
    float: left;
    padding: 0 14px 0 0;
    height: 1.8em;
}
/*
    .listen a:hover {
    color: #990000;
    text-decoration: none;
}
*/

    .listen .button {
    font-size:12px;    
    margin-left: 10px;
}
    .listen .option {
    font-size:12px;    
    display: none;
}

/*

    .listen:hover {
    background: transparent url(../images/tools_corner.gif) left bottom no-repeat;
}

    .listen:hover .option {
    display: inline;
}


  .listen.sfhover {
    background: transparent url(../images/tools_corner.gif) left bottom no-repeat;
}

  .listen.sfhover .option {
    display: inline;
}
*/


 
  div#gsfn_search_widget img { border: none; }
  div#gsfn_search_widget { font-size: 12px; width: 420px; border: 1px solid #999; margin-bottom: 16px; }
  div#gsfn_search_widget a.widget_title { color: #000; font-weight: bold; display: block; padding: 6px 10px; border-bottom: 1px solid #999; background-color: #DDD; }
  div#gsfn_search_widget .powered_by { padding: 6px 10px; border-top: 1px solid #DDD; } 
  div#gsfn_search_widget .powered_by a { color: #333; font-size: 90%; }      
  div#gsfn_search_widget form { margin-bottom: 8px; }
  div#gsfn_search_widget form label { margin-bottom: 5px; display: block; }
  div#gsfn_search_widget form #gsfn_search_query { width: 70%; }
  div#gsfn_search_widget div.gsfn_content { padding: 10px; }
  div#gsfn_search_widget div.gsfn_content li { text-align:left; margin-bottom:6px; }
  div#gsfn_search_widget div.gsfn_content a.gsfn_link { line-height: 1; }
  div#gsfn_search_widget div.gsfn_content span.time { font-size: 90%; padding-left: 3px; }
  div#gsfn_search_widget div.gsfn_content p.gsfn_summary { margin-top: 2px }


/* clouds */
/* CSS Document */

div#netnav1 {
    width:16em;
    float:left;
    padding:1em 0 0 2em;
}

div#netnav2 {
    width:16em;
    float:left;
    padding:0em 0 0 2em;
}

div#netnav3 {
    width:16em;
    float:left;
    padding:0em 0 0 2em;
}

#netnav1 * {
    font-size:1em;
}

#netnav3 * {
    font-size:1em;
}

#netnav1 h3 {
    font-weight:normal;
    margin:1em 0 0 0;
    padding: 4px 0;
    border-bottom:1px solid #666;
    text-transform:uppercase;
}

#netnav2 h3 {
    font-weight:normal;
    margin:1em 0 0 0;
    padding: 4px 0;
    border-bottom:1px solid #666;
    text-transform:uppercase;
}

#netnav3 h3 {
    font-weight:normal;
    margin:1em 0 0 0;
    padding: 4px 0;
    border-bottom:1px solid #666;
    text-transform:uppercase;
}

#netnav1 ul, #netnav1 li {
    margin:0;
    padding:0;
    list-style:none;
}

#netnav3 ul, #netnav3 li {
    margin:0;
    padding:0;
    list-style:none;
}

#netnav1 li {
    display:inline;
}

#netnav3 li {
    display:inline;
}

.cbox
{
font: normal normal 62.5%/normal Verdana, Arial, Helvetica, sans-serif;
text-align: left;

}

.cbox a:link {
	color: #990000;
	text-decoration: none;
}

.cbox a:visited {
color: #990000;
	text-decoration: none;
}

.cbox a:hover {
color: #990000;
	text-decoration: underline;
}

/* Media Praise */
.quote {
    line-height:22px;
    color:#333;
    font-size:120%;
}

.quote_author {
    line-height:16px;
    color:#990000;
    font-weight:normal;
}


/* Errata */

.colorkey .typo, .colorkey .minortechnical, .colorkey .serioustechnical, .colorkey .question, .colorkey .language, .colorkey .note, .colorkey .update  {
padding: 2px 3px;
margin:0 2px;
}

#errata .serioustechnical {
background-color: #ffe5e5;
}

#errata .minortechnical {
background-color: #fbfdd9;
}

#errata .language {
background-color: #ccfbd7;
}

#errata .typo {
background-color: #b6d3f8;
}

#errata .question {
background-color: #f8d8b6;
}

#errata .note {
background-color: #d2c0f7;
} 

#errata .update {
background-color: #d2cece;
}
#tabs {
 text-transform:uppercase;
 text-decoration:none;
 font-weight:bold;
}

#tabs ul {
 padding: 0 0 7px 0;
 margin:0;
 background-image: url(http://cdn.oreillystatic.com/oreilly/ml/images/line_gray.gif);
 background-repeat:repeat-x;
 background-position: bottom center;
}

#tabs ul li {
 display:inline;
 list-style:none;
 padding:0;
 margin:0;
}

#tabs ul li a {
 color:#999;
 font-size:92%;
 font-weight:bold;
 text-decoration:none;
 margin:0;
 padding:0 10px 1px 10px;
}

#tabs ul li a.current {
 color:#990000;
 background-image: url(http://cdn.oreillystatic.com/oreilly/ml/images/line_arrow.gif);
 background-position: bottom center;
 background-repeat:no-repeat;
 padding-bottom:7px;
}

#tabs ul li a:hover {
 color:#990000;
}
div#cover {
    width:16em;
    float:left;
    padding:2em 0 0 2em;
}

/* Reusable content titles */

.red-title {
border: 1px solid #666;
color:#990000;
font-family:Verdana,helvetica,arial,sans-serif;
font-size:11px;
font-weight:bold;
line-height:1.09em;
margin-bottom:4pt;
padding: 0.4em 0;
text-transform:uppercase;
}

#breadcrumb {
margin: 0;
padding-left: 2em;
padding-top: 8px;
}

/*Chronological Timeline List*/
.chrono {
float: none;
width: 600px;
}
.chrono dl{
width:600px;
padding: 0;
white-space: normal;
float:none;
margin: 0;
}
.chrono dt{
    float: left;
    clear: left;
    width: 50px;
    text-align: right;
    font-weight: bold;
	font-size: 12px;
	white-space:normal;
}
.chrono dt::after {
	content: "\203A"; 
	padding-left: .25em;
} 
.chrono dd{
	margin: 0 0 0 80px;
    padding: 0 0 1.2em 0;
    display: list-item;
	list-style-type: square;
	white-space:normal;
	float:none;
	}


.chrono dd::after {
    margin-bottom:1.8em;
  }

.tools a, .tools a:hover, .tools a:active, .tools a:visited {
color: #000;
}

#search #mid_header {
height: 42px;
padding-top: 5px;
}

#autocomplete {
top: 24px;
left: 0px !important;
width: 210px !important;
}

/* styles for search autocomplete */
.yui-skin-sam .yui-ac {
    position:relative;font-family:arial;font-size:100%;
}
.yui-skin-sam .yui-ac-input {
    width:20em;
}
.yui-skin-sam .yui-ac-container {
    top:1.6em;width:20em;
}
.yui-skin-sam .yui-ac-content {
    position:absolute;width:20em;border:1px solid #808080;background-color:#fff;overflow:hidden;z-index:9050;
}
.yui-skin-sam .yui-ac-shadow {
    position:absolute;margin:.3em;width:100%;background:#000;-moz-opacity: 0.10;opacity:.10;filter:alpha(opacity=10);z-index:9049;
}
.yui-skin-sam .yui-ac-content ul{
    margin:0;padding:0;width:20em;
}
.yui-skin-sam .yui-ac-content li {
    margin:0;padding:2px 5px;cursor:default;white-space:nowrap;
}
.yui-skin-sam .yui-ac-content li.yui-ac-prehighlight {
    background:#B3D4FF;
}
.yui-skin-sam .yui-ac-content li.yui-ac-highlight {
    background:#0000FF;color:#FFF;
}
