
body {
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
    font-size: 14px;
    color: #333333;
    margin: 60px auto;
    width: 70%;
}

.hyperlink {
    word-break: break-all;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #003399;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 24pt;
}
p {
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li,
.no-bullets {
    list-style: none;
    font-size: 14px;
    margin-left: 0;
    padding-left: 0;
}

/* Lists */

dt {
    padding: 1em 0 .5em .75em;
}

ul {
    list-style-type: square;
}

ul, ol {
    line-height: 1.4em;
}

/* Tables */

table {
  margin: 12.5pt 0;
  border-collapse: collapse;
  max-width: 100%;
  hyphens: none;
}

table caption {
  font-style: italic;
  margin-bottom: 4pt;
  display: table-caption;
  text-align: left;
  }


td, th { 
  padding: 0.2em 0.4em 0.2em 0.4em;
  vertical-align: top;
  text-align: left;
  word-spacing: 0.3pt;
}
  
thead tr th {
  font-weight: 600;
}

/*lists within tables*/
table ul li,
table ol li{
 margin: 0 0 0 8pt;
}

table, th, td {
   border: 1px solid black;
}

th {
    background-color: #C8C8C8;
    color: black;
}

div[data-type="warning"] {
 background: #ffe9ec;
}

div[data-type="note"], div[data-type="warning"], div[data-type="tip"] {
  border: solid 1pt black;
  padding-left: 2em;
  padding-right: 2em;
}


/* Headers */

h2 {
    font-size: 20pt;
    text-align: center;
    border-bottom: 1px solid #009999;
    color: #009999;
}

h3 {
    font-size: 16pt;
    color: #009999;
    padding-top: 10px;
}

h4 {
    font-size: 12pt;
    color: #009999;
}




/* ORM Word Template Quickstart Guide */

.no-bullets li {
    background-image: url('../illustrations/download.svg');
    background-repeat: no-repeat;
    display: block;
    min-height: 40px;
    background-size: 30px;
    padding: 0 0 0 50px;
    margin-right: 50px;
    margin-top: 20px;

}




/* Styled Admonitions */

div[data-type="note"] {
    border: 1px solid #86aac8;
    font-size: 10pt;
    padding: 1.5em;
    color: #86aac8;
    padding-bottom: 5px;
}

div[data-type="warning"] {
    border: 1px solid #ac2e3d;
    font-size: 12pt;
    padding: 1.5em;
    color: #ac2e3d;
    padding-bottom: 5px;
}

div[data-type="note"] h6 {
    background-image: url('../illustrations/note.png');
    background-size:40px;
    padding-top: .5em;
    padding-bottom: .5em;
    background-repeat: no-repeat;
    display: block;
    min-height: 20px;
    font-size: 1.5em;
    padding-left: 50px;
    margin: 0 0 0 0;
}

div[data-type="warning"] h6 {
    background-image: url('../illustrations/warning.png');
    background-size:40px;
    padding-top: .5em;
    padding-bottom: .5em;
    background-repeat: no-repeat;
    display: block;
    min-height: 20px;
    font-size: 1.5em;
    padding-left: 60px;
    margin: 0 0 0 0;

}



/* Responsive */

@media only screen and (min-width: 800px) {
body {
    font-size: 14pt;
}

/* Headers */

h2 {
    font-size: 24pt;
    text-align: center;
    border-bottom: 1px solid #009999;
    color: #009999;
}

h3 {
    font-size: 20pt;
    color: #009999;
    padding-top: 10px;
}

h4 {
    font-size: 16pt;
    color: #009999;
}

.no-bullets li  {
    float: left;
    margin: 0 0 35px 3px;
    padding: 15px 20px 0 35px;
}

#table-of-contents-word {
    clear: left;
    
}

.no-bullets {
    padding: 0;
    margin: 0;
}

div[data-type="note"],
div[data-type="warning"] {
    font-size: 12pt;
}

ul.no-bullets {
    display: inline-block;
}

.center {
    width: 100%;
    text-align: center;
}

}

@media only screen and (min-width: 950px) {
.no-bullets li  {
    float: left;
    margin: 0 0 35px 5px;
    padding: 15px 50px 0px 35px;
}

}

@media only screen and (min-width: 1000px) {

#table-of-contents-word+ul {
    width: 375px;
    margin: 0 auto;
}

}
