[submodule "source/chapter_1/awesomelists"]
	path = source/chapter_1/awesomelists
	url = git@github.com:hjwp/book-example.git
[submodule "source/chapter_2/awesomelists"]
	path = source/chapter_2/awesomelists
	url = git@github.com:hjwp/book-example.git
[submodule "source/chapter_3/awesomelists"]
	path = source/chapter_3/awesomelists
	url = git@github.com:hjwp/book-example.git
