*.pyc
misc/abandoned_roman_numerals_example
docs/atlas_docs/
proposals
tags
pdf_drafts
pycon
source/chapter_*/static
source/chapter_*/virtualenv
source/chapter_*/database
source/appendix_II/database
source/appendix_II/virtualenv
source/appendix_III/database
source/appendix_III/virtualenv
source/appendix_V/database
chapter_*.html
appendix_*.html
outline_and_future*.html
pre-requisite-installations.html
preface.html
epilogue.html
bibliography.html
part2.html
wordcounts.*
feedback
downloads
misc/promo/
misc/Vagrantfile
misc/superlists-repo-django16-backup.zip
tdd-tutorial-materials
source/appendix_bdd/database/
misc/Invoice-Percival-1
video
misc/*conference_report.md
