[submodule "source/chapter_1/mysite"]
	path = source/chapter_1/mysite
	url = git@github.com:hjwp/book-example.git
[submodule "source/chapter_2/mysite"]
	path = source/chapter_2/mysite
	url = git@github.com:hjwp/book-example.git
[submodule "source/chapter_3/mysite"]
	path = source/chapter_3/mysite
	url = git@github.com:hjwp/book-example.git
