*.pyc
misc/abandoned_roman_numerals_example
docs/atlas_docs/
proposals
tags
pdf_drafts
pycon
source/chapter_*/static
source/chapter_*/virtualenv
source/chapter_*/database
source/appendix_II/database
chapter_*.html
outline_and_future*.html
tests/test_chapter_05.py.current_failure
