[submodule "source/chapter_01/superlists"]
	path = source/chapter_01/superlists
	url = https://github.com/hjwp/book-example.git
[submodule "source/chapter_02/superlists"]
	path = source/chapter_02/superlists
	url = https://github.com/hjwp/book-example.git
[submodule "source/chapter_03/superlists"]
	path = source/chapter_03/superlists
	url = https://github.com/hjwp/book-example.git
[submodule "source/chapter_04/superlists"]
	path = source/chapter_04/superlists
	url = https://github.com/hjwp/book-example.git
[submodule "source/chapter_05/superlists"]
	path = source/chapter_05/superlists
	url = https://github.com/hjwp/book-example.git
[submodule "source/chapter_06/superlists"]
	path = source/chapter_06/superlists
	url = https://github.com/hjwp/book-example.git
[submodule "source/chapter_07/superlists"]
	path = source/chapter_07/superlists
	url = https://github.com/hjwp/book-example.git
[submodule "source/chapter_08/superlists"]
	path = source/chapter_08/superlists
	url = https://github.com/hjwp/book-example.git
[submodule "source/chapter_09/superlists"]
	path = source/chapter_09/superlists
	url = https://github.com/hjwp/book-example.git
[submodule "source/chapter_10/superlists"]
	path = source/chapter_10/superlists
	url = https://github.com/hjwp/book-example.git
[submodule "source/chapter_11/superlists"]
	path = source/chapter_11/superlists
	url = https://github.com/hjwp/book-example.git
[submodule "source/chapter_12/superlists"]
	path = source/chapter_12/superlists
	url = https://github.com/hjwp/book-example.git
[submodule "source/chapter_13/superlists"]
	path = source/chapter_13/superlists
	url = https://github.com/hjwp/book-example.git
[submodule "source/chapter_14/superlists"]
	path = source/chapter_14/superlists
	url = https://github.com/hjwp/book-example.git
[submodule "source/chapter_15/superlists"]
	path = source/chapter_15/superlists
	url = https://github.com/hjwp/book-example.git
[submodule "source/chapter_16/superlists"]
	path = source/chapter_16/superlists
	url = https://github.com/hjwp/book-example.git
[submodule "source/chapter_17/superlists"]
	path = source/chapter_17/superlists
	url = https://github.com/hjwp/book-example.git
[submodule "source/chapter_18/superlists"]
	path = source/chapter_18/superlists
	url = https://github.com/hjwp/book-example.git
[submodule "source/chapter_19/superlists"]
	path = source/chapter_19/superlists
	url = https://github.com/hjwp/book-example.git
[submodule "source/chapter_20/superlists"]
	path = source/chapter_20/superlists
	url = https://github.com/hjwp/book-example.git
[submodule "source/chapter_21/superlists"]
	path = source/chapter_21/superlists
	url = https://github.com/hjwp/book-example.git
[submodule "source/appendix_II/superlists"]
	path = source/appendix_II/superlists
	url = https://github.com/hjwp/book-example.git
[submodule "source/appendix_III/superlists"]
	path = source/appendix_III/superlists
	url = https://github.com/hjwp/book-example.git
[submodule "source/appendix_V/superlists"]
	path = source/appendix_V/superlists
	url = https://github.com/hjwp/book-example.git
[submodule "source/appendix_bdd/superlists"]
	path = source/appendix_bdd/superlists
	url = https://github.com/hjwp/book-example.git
[submodule "tests/testrepo"]
    path = tests/testrepo
    url = https://github.com/hjwp/booktesttestrepo.git 
[submodule "asciidoc/asciidoctor"]
	path = asciidoc/asciidoctor
	url = https://github.com/asciidoctor/asciidoctor.git
[submodule "asciidoc/asciidoctor-htmlbook"]
	path = asciidoc/asciidoctor-htmlbook
	url = https://github.com/oreillymedia/asciidoctor-htmlbook.git
[submodule "source/appendix_VI_rest_api_backend/superlists"]
	path = source/appendix_VI_rest_api_backend/superlists
	url = git@github.com:hjwp/book-example.git
[submodule "source/appendix_VII_rest_api_frontend/superlists"]
	path = source/appendix_VII_rest_api_frontend/superlists
	url = git@github.com:hjwp/book-example.git
[submodule "source/appendix_VIII_DjangoRestFramework/superlists"]
	path = source/appendix_VIII_DjangoRestFramework/superlists
	url = git@github.com:hjwp/book-example.git
