*.pyc
misc/abandoned_roman_numerals_example
docs/atlas_docs/
proposals
tags
pdf_drafts
pycon
source/*/static
source/*/virtualenv
source/*/database
chapter_*.html
appendix_*.html
outline_and_future*.html
pre-requisite-installations.html
preface.html
epilogue.html
bibliography.html
part2.html
acknowledgments.html
book.harry.asciidoc
harrybook.asciidoc
part1.harry.asciidoc
part1.harry.html
part1.html
part2.harry.asciidoc
part2.harry.html
part3.harry.asciidoc
part3.harry.html
part3.html
book.harry.html
praise.harry.html
wordcounts.*
feedback
downloads/*.js
downloads/mock*
misc/promo/
misc/Vagrantfile
misc/superlists-repo-django16-backup.zip
tdd-tutorial-materials
misc/Invoice-Percival-1
video
misc/*conference_report.md
video_plug.html
tests/.cache/
workshops/js-testing-with-jasmine.html
philosophy-and-refactoring.html
unit-test-first-view.html
chapter_02_unittest.html
.cache
.vagrant
*-cloudimg-console.log
