/* Styling for custom captions on code blocks */
.sourcecode p {
  text-align: right;
  display: block;
  margin-bottom: -3pt;
  font-style: italic;
  hyphens: none;
}

div[data-type="example"].sourcecode pre {
  margin: 25px 0 25px 25px;
}

div[data-type="example"].sourcecode {
  margin-bottom: 0;
}

