/* Add your custom CSS styles for the MOBI here */

 aside[data-type="sidebar"].scratchpad:before {
  content: " ";
  background-image: url('../../images/papertop.png');
  position: relative;
  background-repeat: no-repeat;
  background-size: 4in auto;
  display: block;
  height: 0.386in;
  margin-bottom: 0;
  padding-bottom: 0;
  width: 4in;
  margin-left: -25px;
}

aside[data-type="sidebar"].scratchpad {
  background-image: url('../../images/papermiddle.png');
  background-position: left top;
  background-repeat: repeat-y; 
  background-size: 4in auto;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 25px;
  width: 4in;
  page-break-inside: avoid;
  border: none;
}

aside[data-type="sidebar"].scratchpad:after {
  content: " ";
  background-image: url('../../images/paperbottom.png');
  background-repeat: no-repeat; 
  background-size: 4in auto;
  display: block;
  height: 0.377in;
  margin-top: 0;
  width: 4in;
  margin-left: -25px;
  margin-top: 3pt;
}

aside[data-type="sidebar"].scratchpad div.sidebar {
  border: none;
  background-color: transparent;
  padding: 0 !important;
  margin-top: 25px;
  }

aside[data-type="sidebar"].scratchpad ul  {
  margin-top: -25pt;
  margin-left: 10pt;
  list-style-type: none;
  padding-right: 1.2in;
}

aside[data-type="sidebar"].scratchpad ul li  {
  line-height: 0.15in;
}

aside[data-type="sidebar"].scratchpad ul li p {  
 font-family: "ORAHand-Medium";
}
