@charset "UTF-8";
/*----Rendering for special role="caption" lines below code blocks, per AU request; see RT #151714----*/
/*----Amended by author in may 2013 to use role="sourcecode" and be the official title for the codeblock...----*/

/*--Adjusting padding in TOC to avoid bad break--*/
@page toc:first { /* first page */
   padding-bottom: 0.3in;
}

@page toc: { 
   padding-bottom: 0.4in;
}


/* less space for sidebar pagebreaks*/
.less_space {margin-top: 0 !important;}

/* Adding font fallback for characters not represented in standard text font */
body[data-type="book"] { font-family: MinionPro, Symbola, ArialUnicodeMS }

/* Globally preventing code blocks from breaking across pages */
div[data-type="example"], pre { page-break-inside: avoid; }

/* Removing labels from formal code blocks */
section[data-type="chapter"] div[data-type="example"] h5:before {
  content: none;
}

section[data-type="appendix"] div[data-type="example"] h5:before {
  content: none;
}

section[data-type="preface"] div[data-type="example"] h5:before {
  content: none;
}

div[data-type="part"] div[data-type="example"] h5:before {
  content: none;
}

div[data-type="part"] section[data-type="chapter"] div[data-type="example"] h5:before {
  content: none;
}

div[data-type="part"] section[data-type="appendix"] div[data-type="example"] h5:before {
  content: none;
}

/* Styling the file name captions on code blocks */
div.sourcecode h5 {
  text-align: right;
  display: block;
  margin-bottom: 1pt;
  font-style: italic;
  hyphens: none;
  font-size: 9.3pt;
}

/* Styling formal code blocks with file name captions
   like informal code blocks */
div.sourcecode pre {
  margin-left: 17pt;
}

/* Add some space below sourcecode code blocks (STYL-991) */
div.sourcecode {
  margin-bottom: 1.5em;
}

/* Not sure what this custom formatting is for, was blindly ported from 
   first edition */
div.small-code pre,
pre.small-code {
  font-size: 75%;
}

aside[data-type="sidebar"] pre.small-code code {
  font-size: 95%;
}

blockquote.blockquote{
font-style:italic;
}

.blockquote p{
text-align:right;
}


/*---custom formatting for scratchpad items---*/



aside[data-type="sidebar"].scratchpad { 
  overflow: auto;
  margin-top: 0.625in;

}

aside[data-type="sidebar"].scratchpad:before {
  content: " ";
  background-image: url('../../images/papertop.png');
  position: relative;
  background-repeat: no-repeat;
  background-size: 4in auto;
  display: block;
  height: 0.386in;
  margin-bottom: 0;
  padding-bottom: 0;
  width: 4in;
  margin-left: -25px;
  top: -0.386in;
}

aside[data-type="sidebar"].scratchpad {
  background-image: url('../../images/papermiddle.png');
  background-position: left top;
  background-repeat: repeat-y; 
  background-size: 4in auto;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 25px;
  width: 4in;
  page-break-inside: avoid;
  border: none;
}

aside[data-type="sidebar"].scratchpad:after {
  content: " ";
  background-image: url('../../images/paperbottom.png');
  background-repeat: no-repeat; 
  background-size: 4in auto;
  display: block;
  height: 0.377in;
  margin-top: 0;
  width: 4in;
  margin-left: -25px;
  margin-top: 3pt;
  
}


aside[data-type="sidebar"].scratchpad ul  {
  margin-top: -28pt;
  margin-left: 10pt;
  list-style-type: none;
  padding-right: 1.2in;
}

aside[data-type="sidebar"].scratchpad ul li  {
  line-height: 0.165in;
  margin-top: 0;
  margin-bottom: 1pt;
}

aside[data-type="sidebar"].scratchpad ul li p {  
  font-family: "ORAHand-Medium", ArialUnicodeMS;
  margin-top: 0;
  margin-bottom: 0;
}

/* Mock H3 */
span.fake-h3 {
font-family: "MyriadPro-SemiboldCond";
font-weight: 600;
font-size: 11.56pt;
}


/*----Uncomment to change the TOC start page (set 
the number to one page _after_ the one you want; 
so 6 to start on v, 8 to start on vii, etc.)
----*/
/* handling for elements to keep them from breaking across pages */

.nobreakinside {page-break-inside: avoid; page-break-before: auto;}

/*----Uncomment to change the TOC start page (set 
the number to one page _after_ the one you want; 
so 6 to start on v, 8 to start on vii, etc.)
----*/
/* handling for elements to keep them from breaking across pages */

.nobreakinside {page-break-inside: avoid; page-break-before: auto;}



/*--------Put Your Custom CSS Rules Below--------*/
/*--- This oneoff overrides the code in https://github.com/oreillymedia/<name_of_theme>/blob/master/pdf/pdf.css---*/

/*----Uncomment to temporarily turn on code-eyballer highlighting (make sure to recomment after you build)

pre {
 background-color: yellow;
}---*/


/*----Uncomment to turn on automatic code wrapping

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
----*/

/*----Uncomment to change the TOC start page (set 
the number to one page _after_ the one you want; 
so 6 to start on v, 8 to start on vii, etc.)

@page toc:first {
  counter-reset: page 6;
}
----*/

/*----Uncomment to fix a bad break in the title 
      (increase padding value to push down, decrease 
      value to pull up)

section[data-type="titlepage"] h1 {
  padding-left: 1.5in;
}
----*/

/*----Uncomment to fix a bad break in the subtitle
      (increase padding value to push down, decrease
      value to pull up)

section[data-type="titlepage"] h2 {
  padding-left: 1in;
}
----*/

/*----Uncomment to fix a bad break in the author names 
      (increase padding value to push down, decrease 
      value to pull up)

section[data-type="titlepage"] p.author {
  padding-left: 3in;
}
----*/
