@charset "UTF-8";

@import "DYNAMIC CSS PLACEHOLDER";

/*----Rendering for special role="caption" lines below code blocks, per AU request; see RT #151714----*/
/*----Amended by author in may 2013 to use role="sourcecode" and be the official title for the codeblock...----*/

p.sourcecode {
  text-align: right;
  display: block;
  margin-bottom: -3pt;
  font-style: italic;
  hyphens: none;
  font-size: 9.3pt;
}

pre.programlisting.small-code, pre.screen.small-code, pre.literallayout.small-code {
  font-size: 75%;
}

pre.programlisting.small-code code {
  font-size: 95%;
}

blockquote.blockquote{
	font-style:italic;
}

.blockquote p{
	text-align:right;
}


/*---custom formatting for scratchpad items---*/

div.itemizedlist.scratchpad {
  background-image: url('../../images/notepad.png');
  margin-bottom: 10pt;
  width: 4in;
}

