@charset "UTF-8";

@import "DYNAMIC CSS PLACEHOLDER";

/*----Rendering for special role="caption" lines below code blocks, per AU request; see RT #151714----*/
/*----Amended by author in may 2013 to use role="sourcecode" and be the official title for the codeblock...----*/

p.sourcecode {
  text-align: right;
  display: block;
  margin-bottom: -3pt;
  font-style: italic;
  hyphens: none;
  font-size: 9.3pt;
}

pre.programlisting.small-code, pre.screen.small-code, pre.literallayout.small-code {
  font-size: 75%;
}

pre.programlisting.small-code code {
  font-size: 95%;
}

blockquote.blockquote{
	font-style:italic;
}

.blockquote p{
	text-align:right;
}


/*---custom formatting for scratchpad items---*/

div.sidebar.scratchpad {
  background-image: url('../../images/papermiddle.png');
  background-position: left top;
  background-repeat: repeat-y; 
  background-size: 5.4in auto;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 25px;
  width: 5.4in;
}

div.sidebar.scratchpad:before {
  content: " ";
  background-image: url('../../images/papertop.png');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 5.4in auto;
  display: block;
  height: 0.81in;
  margin-bottom: 0;
  width: 5.4in;
  margin-left: -25px;
}

div.sidebar.scratchpad:after {
  content: " ";
  background-image: url('../../images/paperbottom.png');
  background-position: left bottom;
  background-repeat: no-repeat; 
  background-size: 5.4in auto;
  display: block;
  height: 0.81in;
  margin-top: 0;
  width: 5.4in;
  margin-left: -25px;
}

