@charset "UTF-8";

@import "DYNAMIC CSS PLACEHOLDER";

/*----Rendering for special role="caption" lines below code blocks, per AU request; see RT #151714----*/
/*----Amended by author in may 2013 to use role="sourcecode" and be the official title for the codeblock...----*/

p.sourcecode {
  text-align: right;
  display: block;
  margin-bottom: -3pt;
  font-style: italic;
  hyphens: none;
  font-size: 9.3pt;
}

pre.programlisting.small-code, pre.screen.small-code, pre.literallayout.small-code {
  font-size: 75%;
}

.sidebar pre.programlisting.small-code code {
  font-size: 95%;
}

blockquote.blockquote{
font-style:italic;
}

.blockquote p{
text-align:right;
}


/*---custom formatting for scratchpad items---*/



div.sidebar.scratchpad { 
  overflow: auto;
  margin-top: 0.625in;

}

div.sidebar.scratchpad:before {
  content: " ";
  background-image: url('../../images/papertop.png');
  position: relative;
  background-repeat: no-repeat;
  background-size: 4in auto;
  display: block;
  height: 0.386in;
  margin-bottom: 0;
  padding-bottom: 0;
  width: 4in;
  margin-left: -25px;
  top: -0.386in;
}

div.sidebar.scratchpad {
  background-image: url('../../images/papermiddle.png');
  background-position: left top;
  background-repeat: repeat-y; 
  background-size: 4in auto;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 25px;
  width: 4in;
  page-break-inside: avoid;
  border: none;
}

div.sidebar.scratchpad:after {
  content: " ";
  background-image: url('../../images/paperbottom.png');
  background-position: left bottom;
  background-repeat: no-repeat; 
  background-size: 4in auto;
  display: block;
  height: 0.377in;
  margin-top: 0;
  width: 4in;
  margin-left: -25px;
  margin-top: 3pt;
}


div.sidebar.scratchpad ul  {
  margin-top: -25pt;
  margin-left: 10pt;
  list-style-type: none;
  padding-right: 1.2in;
}

div.sidebar.scratchpad ul li  {
  line-height: 0.15in;
}

div.sidebar.scratchpad ul li p {  font-family: "ORAHand-Medium";
}

/*----Uncomment to change the TOC start page (set 
the number to one page _after_ the one you want; 
so 6 to start on v, 8 to start on vii, etc.)
----*/

@page tableofcontents:first {
  counter-reset: page 8;
}

/* handling for elements to keep them from breaking across pages */

.nobreakinside {page-break-inside: avoid; page-break-before: auto;}

