---
name: Book tests

on:
  push:
    branches:
      main
  pull_request:

jobs:
  chapter_tests_matrix:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        test_chapter: [
          test_chapter_01,
          test_chapter_02_unittest,
          test_chapter_03_unit_test_first_view,
          test_chapter_04_philosophy_and_refactoring,
          test_chapter_05_post_and_database,
          test_chapter_06_explicit_waits_1,
          test_chapter_07_working_incrementally,
          test_ part,
          test_chapter_08_prettification,
          # test_chapter_09_docker,
          # test_chapter_10_production_readiness,
          # test_chapter_11_ansible,
          test_chapter_12_organising_test_files,
          test_chapter_13_database_layer_validation,
          test_chapter_14_simple_form,
        ]
    steps:
      - uses: actions/checkout@v4
      - id: foo
        uses: hjwp/github-actions@v4
        with:
          test_chapter: ${{ matrix.test_chapter_chapter }}
